.tag {
    margin-right: 10px;
    color: var(--accent);
}

.tinyInput {
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
}

.counter {
    margin: 10px;
    padding: 10px;
    min-width: 100px;
}